<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pregnancy Assistant</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Application logo placement-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">

    <!--Importing CSS files into the project-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@icon/themify-icons@1.0.1-0/themify-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

     <!--Editing wallpaper properties-->
     <style>
        .slider_bg_1 {
            background-image: url(../static/images/index_bg_2.png);
            background-position: center;
            background-size: 50% auto; 
            background-repeat: no-repeat;
            image-rendering: crisp-edges; 
        }

        .slider_bg_2 {
            background-image: url(../static/images/index_bg_1.png);
            background-position: center;
            background-size: 50% auto; 
            background-repeat: no-repeat;
            image-rendering: crisp-edges; 
        }
    </style>

    <style>
        @font-face {
            font-family: 'themify';
            src: url("../static/fonts/themify.woff?-fvbane") format('woff');
            font-weight: normal;
            font-style: normal;
        }

        [class^="ti-"], [class*=" ti-"] {
            font-family: 'themify', sans-serif;
        }
    </style>

</head>

<body>

<!--Implementing the main menu-->
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-6">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="/">home</a></li>
                                    <li><a href="/predict">health</a></li>
                                    <li><a href="/result">result</a></li>
                                    <li><a href="/chat">healthAI</a></li>
                                    <li><a href="/login">login</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="/">
                                <img src="{{ url_for('static', filename='images/favicon.png') }}" alt=""
                                     style=" width: 75px; height: 75px; color: white">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                        <div class="book_room">
                            <div class="book_btn d-none d-lg-block">
                                <a href="/predict">Predict fetal health</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Implementation of inscriptions on background pages-->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Pregnancy Assistant</h3>
                            <p>Unlock to prepare for a safe and happy birth with Pregnancy Health Assistant</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Pregnancy Support</h3>
                            <p>Predicting your baby's journey</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Pregnancy Assistant</h3>
                            <p>Unlock to prepare for a safe and happy birth with Pregnancy Health Assistant</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Pregnancy Support</h3>
                            <p>Predicting your baby's journey</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Information about the Pregnancy Health Assistant app-->
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="about_thumb2 d-flex">
                    <div class="img_1">
                        <img src="{{ url_for('static', filename='images/about_4.jpg') }}" alt="" style="width: 284px; height: 300px;">
                    </div>
                    <div class="img_2">
                        <img src="{{ url_for('static', filename='images/about_3.jpg') }}" alt="" style="width: 284px; height: 300px;">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>About the App</span>
                        <h3>Pregnancy Health Assistant<br></h3>
                    </div>
                    <p>Our app, **Pregnancy Health Assistant**, is built using a machine learning model.
                        After analyzing and comparing three models - **Gradient Boosting**, **Logistic Regression**
                        and **Decision Tree** - we chose to use **Gradient Boosting** due to its superior performance.
                        It analyzes medical data and predicts the health status of the fetus.
                        The model has an accuracy of **97.4%**, reliably predicting the health status of the fetus.</p>
                    <a href="/" class="line-button">Explore the app</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Adding introductory video on pregnancy risk factors-->
<div class="video_area video_bg overlay"
     style="background-image: url('../static/images/video_bg.gif'); height: 600px; background-size: cover;">
    <div class="video_area_inner text-center">
        <span style="margin-top: -200px;">Pregnancy Health Assistant</span>
        <h3>Effects that can influence the development of your fetus<br></h3>
        <a href="{{ url_for('static', filename='images/video_pregnancy.mp4') }}" class="video_btn popup-video">
            <i class="fa fa-play"></i>
        </a>
    </div>
</div>

<!--Additional information about fetal health-->
<div class="about_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <span>Essential Information</span>
                        <h3>Your health and<br>
                            your baby's health matter</h3>
                    </div>
                    <p>Monitoring fetal health is essential for a worry-free pregnancy.
                        With the help of our advanced technology, we provide you with personalized predictions
                        so that you are informed about your baby's condition.</p>
                    <a href="https://pregnancyarchive.com/blog/exploring-the-factors-that-determine-the-viability-of-pregnancy-insights-into-the-journey-of-becoming-a-parent"
                       class="line-button" target="_blank">
                        Read more</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7">
                <div class="about_thumb d-flex">
                    <div class="img_1">
                        <img src="{{ url_for('static', filename='images/about_1.jpg') }}" alt=""
                             style="width: 280px; height: 280px;">
                    </div>
                    <div class="img_2">
                        <img src="{{ url_for('static', filename='images/about_2.jpg') }}" alt=""
                             style="width: 400px; height: 300px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add final menu of the application-->
<footer class="footer" style="margin-top: 30px;">
    <div class="footer_top" style="padding: 30px 0;">
        <div class="container" style="max-width: 1200px; margin: 0 auto; padding: 0 50px;"> <!-- Centrare avansată -->
            <div class="row" style="display: flex; justify-content: space-between; align-items: flex-start; gap: 30px;">
                <div class="footer_widget" style="flex: 1; min-width: 200px; text-align: center;">
                    <h3 class="footer_title" style="margin-bottom: 15px;">Project</h3>
                    <p class="footer_text" style="margin-bottom: 10px;">Application location</p>
                    <a href="https://github.com/Constantin-Stamate/Pregnancy_Health_Assistant" class="line-button">See
                        on GitHub</a>
                </div>
                <div class="footer_widget" style="flex: 1; min-width: 200px; text-align: center;">
                    <h3 class="footer_title" style="margin-bottom: 15px;">Authentication</h3>
                    <ul class="footer_links" style="list-style: none; padding: 0; margin: 0;">
                        <li style="margin-bottom: 10px;"><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                </div>
                <div class="footer_widget" style="flex: 1; min-width: 200px; text-align: center;">
                    <h3 class="footer_title" style="margin-bottom: 15px;">Navigation</h3>
                    <ul class="footer_links" style="list-style: none; padding: 0; margin: 0;">
                        <li style="margin-bottom: 10px;"><a href="/">Home</a></li>
                        <li style="margin-bottom: 10px;"><a href="/predict">Health</a></li>
                        <li><a href="/result">Result</a></li>
                    </ul>
                </div>
                <div class="footer_widget" style="flex: 1; min-width: 200px; text-align: center;">
                    <h3 class="footer_title" style="margin-bottom: 15px;">More</h3>
                    <ul class="footer_links" style="list-style: none; padding: 0; margin: 0;">
                        <li style="margin-bottom: 10px;">
                            <a href="https://pregnancyarchive.com/blog/exploring-the-factors-that-determine-the-viability-of-pregnancy-insights-into-the-journey-of-becoming-a-parent">Blog</a>
                        </li>
                        <li style="margin-bottom: 10px;">
                            <a href="https://bmcmedicine.biomedcentral.com/articles/10.1186/s12916-022-02632-6">Article</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=F_ssj7-8rYg&t=13s">YouTube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--Adding JS files-->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.counterup@2.1.0/jquery.counterup.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/wowjs@1.1.3/dist/wow.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slicknav@1.0.8/dist/jquery.slicknav.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/magnific-popup@1.2.0/dist/jquery.magnific-popup.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>