<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregnancy Assistant</title>

    <!--Application logo placement-->
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">

    <!--Importing CSS files into the project-->
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>

    <!--Add registration form-->
    <div class="wrapper">
        <form action="#">
            <h2>Create an account</h2>
            <div class="input-field">
                <input type="text" required>
                <label>Enter your username</label>
            </div>
            <div class="input-field">
                <input type="text" required>
                <label>Enter your email</label>
            </div>
            <div class="input-field">
                <input type="password" required>
                <label>Enter your password</label>
            </div>
            <button type="submit">Register</button>
            <div class="register">
                <p>Have already an account? <a href="login.html">Login Here</a></p>
            </div>
        </form>
    </div>

</body>

</html>